In [1]:
import pandas as pd
import os
import numpy as np
import epiweeks
import datetime
import requests
import zipfile
import csv
from contextlib import ExitStack
import progressbar as pbar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import json
import warnings
warnings.filterwarnings('ignore')

In [2]:
data = pd.read_csv('./data/Data/Output_5.csv', encoding='latin-1', skiprows=3)
data

,Country,Region,Code,Date,Sex,Age,AgeInt,Cases,Deaths,Tests
0,Afghanistan,All,AF,01.07.2020,b,0,5,43.4,0.0,NaN
1,Afghanistan,All,AF,01.07.2020,b,5,5,125.6,0.0,NaN
2,Afghanistan,All,AF,01.07.2020,b,10,5,371.6,1.5,NaN
3,Afghanistan,All,AF,01.07.2020,b,15,5,1153.4,3.5,NaN
4,Afghanistan,All,AF,01.07.2020,b,20,5,3151.6,6.3,NaN
...,...,...,...,...,...,...,...,...,...,...
15648628,Vietnam,All,VN,06.06.2021,b,80,5,35.0,NaN,NaN
15648629,Vietnam,All,VN,06.06.2021,b,85,5,23.0,NaN,NaN
15648630,Vietnam,All,VN,06.06.2021,b,90,5,9.0,NaN,NaN
15648631,Vietnam,All,VN,06.06.2021,b,95,5,1.0,NaN,NaN
15648632,Vietnam,All,VN,06.06.2021,b,100,5,1.0,NaN,NaN

In [11]:
data['Country'].unique()

array(['Afghanistan', 'Albania', 'Argentina', 'Australia', 'Austria',
       'Bangladesh', 'Belgium', 'Bermuda', 'Bolivia', 'Brazil',
       'Bulgaria', 'Cambodia', 'Canada', 'Chile', 'China', 'Colombia',
       'Costa Rica', 'Croatia', 'Cuba', 'Czechia', 'Denmark',
       'Dominican Republic', 'Ecuador', 'El Salvador', 'England',
       'England and Wales', 'Estonia', 'Faroe Islands', 'Finland',
       'France', 'Germany', 'Greece', 'Guatemala', 'Haiti', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Island of Jersey', 'Island of Man', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kyrgyzstan', 'Latvia',
       'Lebanon', 'Maldives', 'Mexico', 'Moldova', 'Montenegro', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Northern Ireland',
       'Norway', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Portugal', 'Puerto Rico',
       'Romania', 'Scotland', 'Slovakia', 'Slovenia', 'South Korea',
       'Spain', 'Suriname', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Togo', 'Turkey', 'Ukraine', 'United Kingdom', 'Uruguay', 'USA',
       'Venezuela', 'Vietnam'], dtype=object)

In [23]:
x = data[data['Country'] == 'Belgium']
x
# x[x['Age'] == 80].plot(x='Date', y='Deaths')
# plt.show()

,Country,Region,Code,Date,Sex,Age,AgeInt,Cases,Deaths,Tests
1605576,Belgium,All,BE,01.03.2020,b,0,5,0.0,NaN,NaN
1605577,Belgium,All,BE,01.03.2020,b,5,5,0.0,NaN,NaN
1605578,Belgium,All,BE,01.03.2020,b,10,5,2.4,NaN,NaN
1605579,Belgium,All,BE,01.03.2020,b,15,5,2.6,NaN,NaN
1605580,Belgium,All,BE,01.03.2020,b,20,5,0.5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1785247,Belgium,Wallonia,BE-WAL,11.02.2022,m,80,5,6917.2,489.1,NaN
1785248,Belgium,Wallonia,BE-WAL,11.02.2022,m,85,5,4855.0,725.8,NaN
1785249,Belgium,Wallonia,BE-WAL,11.02.2022,m,90,5,2417.0,1036.4,NaN
1785250,Belgium,Wallonia,BE-WAL,11.02.2022,m,95,5,661.1,667.0,NaN
1785251,Belgium,Wallonia,BE-WAL,11.02.2022,m,100,5,104.5,168.4,NaN

In [4]:
x.drop(columns=['Region', 'Code', 'Sex', 'AgeInt', 'Cases', ])

              Country        Date  Age  Deaths  Tests
10636773  Netherlands  01.03.2020    0     0.0    NaN
10636774  Netherlands  01.03.2020    5     0.0    NaN
10636775  Netherlands  01.03.2020   10     0.0    NaN
10636776  Netherlands  01.03.2020   15     0.0    NaN
10636777  Netherlands  01.03.2020   20     0.0    NaN
...               ...         ...  ...     ...    ...
10681750  Netherlands  12.02.2022   80     NaN    NaN
10681751  Netherlands  12.02.2022   85     NaN    NaN
10681752  Netherlands  12.02.2022   90     NaN    NaN
10681753  Netherlands  12.02.2022   95     NaN    NaN
10681754  Netherlands  12.02.2022  100     NaN    NaN

[44982 rows x 5 columns]

In [24]:
x[np.logical_and(x['Age'] == 80, x['Sex'] == 'b')].tail(50)

,Country,Region,Code,Date,Sex,Age,AgeInt,Cases,Deaths,Tests
1782118,Belgium,Wallonia,BE-WAL,24.12.2021,b,80,5,13732.5,831.8,NaN
1782181,Belgium,Wallonia,BE-WAL,25.12.2021,b,80,5,13734.8,833.4,NaN
1782244,Belgium,Wallonia,BE-WAL,26.12.2021,b,80,5,13738.5,833.8,NaN
1782307,Belgium,Wallonia,BE-WAL,27.12.2021,b,80,5,13769.3,833.8,NaN
1782370,Belgium,Wallonia,BE-WAL,28.12.2021,b,80,5,13820.9,834.0,NaN
1782433,Belgium,Wallonia,BE-WAL,29.12.2021,b,80,5,13875.4,834.5,NaN
1782496,Belgium,Wallonia,BE-WAL,30.12.2021,b,80,5,13934.8,835.2,NaN
1782559,Belgium,Wallonia,BE-WAL,31.12.2021,b,80,5,13973.9,835.1,NaN
1782622,Belgium,Wallonia,BE-WAL,01.01.2022,b,80,5,13982.5,835.6,NaN
1782685,Belgium,Wallonia,BE-WAL,02.01.2022,b,80,5,13989.0,835.5,NaN
1782748,Belgium,Wallonia,BE-WAL,03.01.2022,b,80,5,14063.5,836.1,NaN
1782811,Belgium,Wallonia,BE-WAL,04.01.2022,b,80,5,14126.9,836.9,NaN
1782874,Belgium,Wallonia,BE-WAL,05.01.2022,b,80,5,14198.5,837.2,NaN
1782937,Belgium,Wallonia,BE-WAL,06.01.2022,b,80,5,14260.0,837.0,NaN
1783000,Belgium,Wallonia,BE-WAL,07.01.2022,b,80,5,14327.7,837.5,NaN
1783063,Belgium,Wallonia,BE-WAL,08.01.2022,b,80,5,14351.6,838.4,NaN
1783126,Belgium,Wallonia,BE-WAL,09.01.2022,b,80,5,14358.5,838.9,NaN
1783189,Belgium,Wallonia,BE-WAL,10.01.2022,b,80,5,14429.3,839.7,NaN
1783252,Belgium,Wallonia,BE-WAL,11.01.2022,b,80,5,14506.3,840.9,NaN
1783315,Belgium,Wallonia,BE-WAL,12.01.2022,b,80,5,14580.1,841.1,NaN
1783378,Belgium,Wallonia,BE-WAL,13.01.2022,b,80,5,14658.9,841.3,NaN
1783441,Belgium,Wallonia,BE-WAL,14.01.2022,b,80,5,14727.8,841.9,NaN
1783504,Belgium,Wallonia,BE-WAL,15.01.2022,b,80,5,14757.3,842.5,NaN
1783567,Belgium,Wallonia,BE-WAL,16.01.2022,b,80,5,14774.1,842.6,NaN
1783630,Belgium,Wallonia,BE-WAL,17.01.2022,b,80,5,14904.6,843.6,NaN
1783693,Belgium,Wallonia,BE-WAL,18.01.2022,b,80,5,15046.0,844.0,NaN
1783756,Belgium,Wallonia,BE-WAL,19.01.2022,b,80,5,15147.4,845.0,NaN
1783819,Belgium,Wallonia,BE-WAL,20.01.2022,b,80,5,15253.5,845.2,NaN
1783882,Belgium,Wallonia,BE-WAL,21.01.2022,b,80,5,15379.1,846.4,NaN
1783945,Belgium,Wallonia,BE-WAL,22.01.2022,b,80,5,15423.5,847.4,NaN
1784008,Belgium,Wallonia,BE-WAL,23.01.2022,b,80,5,15441.0,847.5,NaN
1784071,Belgium,Wallonia,BE-WAL,24.01.2022,b,80,5,15594.0,848.3,NaN
1784134,Belgium,Wallonia,BE-WAL,25.01.2022,b,80,5,15754.5,849.0,NaN
1784197,Belgium,Wallonia,BE-WAL,26.01.2022,b,80,5,15887.5,849.5,NaN
1784260,Belgium,Wallonia,BE-WAL,27.01.2022,b,80,5,16016.7,849.3,NaN
1784323,Belgium,Wallonia,BE-WAL,28.01.2022,b,80,5,16150.8,850.3,NaN
1784386,Belgium,Wallonia,BE-WAL,29.01.2022,b,80,5,16225.3,851.1,NaN
1784449,Belgium,Wallonia,BE-WAL,30.01.2022,b,80,5,16249.5,852.2,NaN
1784512,Belgium,Wallonia,BE-WAL,31.01.2022,b,80,5,16414.9,853.0,NaN
1784575,Belgium,Wallonia,BE-WAL,01.02.2022,b,80,5,16568.6,853.7,NaN
1784638,Belgium,Wallonia,BE-WAL,02.02.2022,b,80,5,16694.4,854.2,NaN
1784701,Belgium,Wallonia,BE-WAL,03.02.2022,b,80,5,16822.9,856.4,NaN
1784764,Belgium,Wallonia,BE-WAL,04.02.2022,b,80,5,16939.8,857.0,NaN
1784827,Belgium,Wallonia,BE-WAL,05.02.2022,b,80,5,16995.2,857.1,NaN
1784890,Belgium,Wallonia,BE-WAL,06.02.2022,b,80,5,17010.7,857.0,NaN
1784953,Belgium,Wallonia,BE-WAL,07.02.2022,b,80,5,17141.4,858.0,NaN
1785016,Belgium,Wallonia,BE-WAL,08.02.2022,b,80,5,17263.3,859.2,NaN
1785079,Belgium,Wallonia,BE-WAL,09.02.2022,b,80,5,17332.2,859.9,NaN
1785142,Belgium,Wallonia,BE-WAL,10.02.2022,b,80,5,17391.7,861.1,NaN
1785205,Belgium,Wallonia,BE-WAL,11.02.2022,b,80,5,17391.8,861.5,NaN