In [2]:
import pandas as pd
import os
import numpy as np
import epiweeks
import datetime
import requests
import zipfile
import csv
from contextlib import ExitStack
import progressbar as pbar
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import json
import warnings
warnings.filterwarnings('ignore')

In [234]:
data = pd.read_csv('./data/Data/Poland_deaths_2020.csv', sep = ';')
data = data.iloc[:-3, :]
data = data.loc[:, ['Data', 'Wiek', 'Zgony (ogółem)']]

data.loc[:, 'Zgony (ogółem)'] = data.loc[:, 'Zgony (ogółem)'].apply(pd.to_numeric)
data.loc[:, 'Data'] = data.loc[:, 'Data'].apply(pd.to_datetime)
data = data.groupby(['Data', 'Wiek']).sum().reset_index()
result = pd.DataFrame(columns=['Data', 'location', 'location_name', 'Age group', 'Zgony (ogółem)'])

result = result.append(data[np.logical_or(data['Wiek'] <= '54', data['Wiek'] == '9')].groupby(['Data']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('00-54')

result = result.append(data[np.logical_and(data['Wiek'] >= '55', data['Wiek'] <= '64')].groupby(['Data']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('55-64')

result = result.append(data[np.logical_and(data['Wiek'] >= '65', data['Wiek'] <= '74')].groupby(['Data']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('65-74')

result = result.append(data[np.logical_and(data['Wiek'] >= '75', data['Wiek'] != '9')].groupby(['Data']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('75+')

result = result.rename(columns={'Data': 'date', 'Zgony (ogółem)': 'value'})
result['location'] = result['location'].fillna('PL')
result['location_name'] = result['location_name'].fillna('Poland')
data['Wiek'].unique()
result1 = result


data = pd.read_csv('./data/Data/Poland_deaths_2021_2022.csv', encoding='latin-1', sep = ';')
data = data.loc[:, ['data_rap_zgonu', 'kat_wiek', 'liczba_zaraportowanych_zgonow']]
data = data.groupby(['data_rap_zgonu', 'kat_wiek']).sum().reset_index()

data.loc[:, 'liczba_zaraportowanych_zgonow'] = data.loc[:, 'liczba_zaraportowanych_zgonow'].apply(pd.to_numeric)
data.loc[:, 'data_rap_zgonu'] = data.loc[:, 'data_rap_zgonu'].apply(pd.to_datetime)
result = pd.DataFrame(columns=['data_rap_zgonu', 'location', 'location_name', 'Age group', 'liczba_zaraportowanych_zgonow'])

result = result.append(data[data['kat_wiek'].isin(['0-18', '19-24', '25-34', '35-44', '45-54'])].groupby(['data_rap_zgonu']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('00-54')

result = result.append(data[data['kat_wiek'].isin(['55-64'])].groupby(['data_rap_zgonu']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('55-64')

result = result.append(data[data['kat_wiek'].isin(['65-74'])].groupby(['data_rap_zgonu']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('65-74')

result = result.append(data[data['kat_wiek'].isin(['75-84', '85-94', '95+', 'BD'])].groupby(['data_rap_zgonu']).sum().reset_index())
result['Age group'] = result['Age group'].fillna('75+')

result = result.rename(columns={'data_rap_zgonu': 'date', 'liczba_zaraportowanych_zgonow': 'value'})
result['location'] = result['location'].fillna('PL')
result['location_name'] = result['location_name'].fillna('Poland')
result = result.append(result1).sort_values('date')
result['date'] = result['date'].apply(pd.to_datetime)

result.loc[result['Age group'] == '00-54', 'value'] = result[result['Age group'] == '00-54']['value'].cumsum()
result.loc[result['Age group'] == '55-64', 'value'] = result[result['Age group'] == '55-64']['value'].cumsum()
result.loc[result['Age group'] == '65-74', 'value'] = result[result['Age group'] == '65-74']['value'].cumsum()
result.loc[result['Age group'] == '75+', 'value'] = result[result['Age group'] == '75+']['value'].cumsum()
result

fixed_deaths = pd.DataFrame(columns=['date', 'location', 'location_name', 'Age group', 'value'])

for age_group in result['Age group'].unique():
        deaths_age_group = result[result['Age group'] == age_group].groupby('date')['value'].sum().reset_index()

        fixed_deaths_age_group = deaths_age_group['value']
        fixed_deaths_age_group.index = deaths_age_group['date']
        fixed_deaths_age_group = fixed_deaths_age_group.resample('D').mean()
        fixed_deaths_age_group = fixed_deaths_age_group.interpolate()
        
        removed_negative_deaths = np.insert(np.maximum(0, (fixed_deaths_age_group.values[1:] - fixed_deaths_age_group.values[:-1])), 0, 0)
        fixed_deaths_age_group = pd.DataFrame(fixed_deaths_age_group)
        fixed_deaths_age_group['value'] = removed_negative_deaths
        fixed_deaths = fixed_deaths.append(fixed_deaths_age_group.reset_index())
        fixed_deaths['location'] = fixed_deaths['location'].fillna('Poland')
        fixed_deaths['location_name'] = fixed_deaths['location_name'].fillna('PL')
        fixed_deaths['Age group'] = fixed_deaths['Age group'].fillna(age_group)

country = 'Poland'
today = datetime.date.today().strftime("%d-%m-%Y")
data_dir_path = f'data/World/{today}'
if not os.path.exists(f'{data_dir_path}'):
    os.mkdir(f'{data_dir_path}')
if not os.path.exists(f'{data_dir_path}/{country}'):
    os.mkdir(f'{data_dir_path}/{country}')
    
fixed_deaths.to_csv(f'{data_dir_path}/{country}/covid_deaths.csv')

In [45]:
data = pd.read_csv('./data/Data/Poland_cases_2021_2022.csv', encoding='latin-1', sep = ';')
data = data.loc[:, ['data_rap_zakazenia', 'kat_wiek', 'liczba_zaraportowanych_zakazonych']]
data = data.groupby(['data_rap_zakazenia', 'kat_wiek']).sum().reset_index()
data

     data_rap_zakazenia kat_wiek  liczba_zaraportowanych_zakazonych
0            2021-01-02     0-18                                268
1            2021-01-02    19-24                                207
2            2021-01-02    25-34                                813
3            2021-01-02    35-44                               1059
4            2021-01-02    45-54                                805
...                 ...      ...                                ...
4401         2022-02-14    65-74                               2407
4402         2022-02-14    75-84                               1202
4403         2022-02-14    85-94                                468
4404         2022-02-14      95+                                 45
4405         2022-02-14       BD                                339

[4406 rows x 3 columns]